<div class="row">
    <div class="full column" style="margin-top: 10%">
        <h2>Oconomowoc Area School District 2016 Referendum</h2>
        <p>On November 8th, members of the Oconomowoc Area School District will have the option to vote either "Yes" or "No" on a <strong>$54.9 million</strong> tax referendum. 
        </p>
        <p>
            I believe you should vote "No".
        </p>
    </div>
</div>
<div class="row">
    <div class="two-thirds column">
        <%- page.content %>
    </div>
    <div class="one-third column">
        <h5>
        News
        </h5>

        <% site.posts.each(function(post, i){ %>
            <article class="archive-article archive-type-<%= post.layout %>">
                <div class="archive-article-inner">
                    <header class="archive-article-header">
                        <a class="archive-article-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
                        <br />
                        <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">on <%= date(post.date, "MMM D") %></time>
                    </header>
                </div>
            </article>
        <% }) %>
    
        <h5>
        Resources
        </h5>
        <p>
        This is a biased site, but it is not dishonest. Any factual errors are accidental. I have attempted to substantiate all objective claims with reliable information. 
        </p>
        <ul>
            <li>
            <a href="http://www.oasd.k12.wi.us/page.cfm?p=3387" target="_blank" title="Employee Handbook">Employee Handbooks (scroll down)</a>
            </li>
            <li>
            <a href="http://www.oasd.k12.wi.us/uploaded/Intranet/Documents/Business_Office/OASD_BUDGET_BOARD_MAY_3_2016-17_with_Addendum.pdf" target="_blank" title="2016 Budget">2016-2017 Annual Budget</a>
            
            </li>
            <li>
            <a href="http://www.bls.gov/news.release/ebs2.t04.htm" target="_blank" title="Average Employer Premium Coverage">BLS: Average Employer Premium Coverage</a>
            </li>

            <li>
            <a href="http://www.oasd.k12.wi.us/page.cfm?p=8732" target="_blank">Official Referendum Info</a>
            </li>
            <li>
            <a href="http://www.etf.wi.gov/news/ht_20150625.htm" target="_blank">WRS Contributions</a>
            </li>
            <li>
            <a href="https://apps4.dpi.wi.gov/Referendum/CustomReporting.aspx" target="_blank">Statewide Referendums</a>
            </li>
            <li>
            <a href="http://www2.mtsd.k12.wi.us/Documents/16district/hr/employeehandbook1617.pdf" target="_blank">Mequon-Thiensville Employee Handbook</a>
            </li>
            <li>
            <a href="http://www.waterford.k12.wi.us/UserFiles/Servers/Server_3301775/Image/wgehb05272015.pdf" target="_blank">Waterford Employee Handbook</a>
            </li>
        </ul>

        <h5>
        You Should Also Know
        </h5>
        <ul>
        <li>
            OASD has about 570 employees.
        </li>
        <li>
            The last OASD referendum was in 2006. It involved 13 municipalities, was $49.6 million, and paid for the OAC (among other things). We will be paying off the debt of the 2006 referendum until <strong>2027</strong>.
        </li>
        </ul>

        <h5>
        Stay Informed
        </h5>
        <script type="text/javascript" src="//app.mailerlite.com/data/webforms/200677/q8u2t4.js?v1"></script>

        <h5>Open Discussion</h5>
        <div id="disqus_thread"></div>
        <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//oasd-vote-no.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
    </div>
</div>